<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Page</title>
</head>
<body>
    <table border="1px">
        <tr>
            <td>id</td>
            <td>artist</td>
            <td>album</td>
            <td>genre</td>
            <td>logo link</td>
        </tr>
        <tr>
            <td>{{album.id}}</td>
            <td>{{album.artist}}</td>
            <td>{{album.album_title}}</td>
            <td>{{album.genre}}</td>
            <td>{{album.album_logo}}</td>
        </tr>
    </table>
</body>
</html>